/* Search Bar */
.search-bar-container{
    width: 100%;
}
.search-input{
    display: flex;
    background: transparent;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    font-size: 16px;
    color: #fff;
    border: 1px solid #7e858e;
    margin: 15px 0px;
}
.search{
    background-color: transparent;
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: 500;
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px 10px;
}
.search-button {
    background: transparent;
    border: none;
}
.search-icon{
    color: #fff;
    font-size: 20px;
}

/* No Jobs */
.no-jobs-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.no-jobs{
    width: 80%;
}
.no-jobs-heading{
    font-size: 36px;
    font-family: 'Roboto';
    font-weight: bold;
    color: red;
}
.no-jobs-desc{
    font-size: 18px;
    font-family: 'Roboto';
    color: red;
}
@media screen and (max-width:560px) {
    .no-jobs-heading{
        font-size: 25px;
    }
}

/* Failure View */
.failure-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.failure-view{
    width: 80%;
    margin-bottom: 20px;
}
.failure-heading{
    color: #ff0b37;
    font-size: 32px;
    font-weight: 400;
    font-family: Roboto;
}
.failure-desc{
    color: #ff0b37;
    font-family: Roboto;
    font-size: 18px;
}
.retry-btn{
    color: #fff;
    background-color: #4f46e5;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 8px 20px;
}
@media screen and (max-width:560px) {
    .failure-heading{
        font-size: 25px;
    }
}

/* Loader */
.loader-container{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}